body {
    margin: 0;
}

header {
    background: #bbb;
    padding: 20px 20px 0 0;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: #000;
}

nav a:hover {
    color: rgb(102, 102, 102);
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: #000;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
}
.produtos li:hover {
    border-color: rgb(155, 155, 155);
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
   text-align: center;
   background: url("bg.jpg");
   padding: 40px 0 ;
}

.copyright{
    color: #fff;
    font-size: 13px;
}

main{
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}
form label, form p{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
.checkbox{
    margin: 20px 0;
}